<div class="container" ng-init="init()">
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <form role="form" name="loginForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" ng-model="userEmail" name="userEmail" class="form-control" id="email" placeholder="Enter email" required>
            <span style="color:red" ng-show="loginForm.userEmail.$invalid">
  			<span ng-show="loginForm.userEmail.$error.required">Email is required.</span>
            <span ng-show="loginForm.userEmail.$error.email">Invalid email address.</span>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ng-model="userPassword" name="userPassword" class="form-control" id="pwd" placeholder="Enter password" required>
            <span style="color:red" ng-show="loginForm.userPassword.$invalid">
            <span ng-show="loginForm.userPassword.$error.required">Password is required.</span>
        </div>
        <button type="submit" class="btn btn-default" ng-click="login( )" ng-disabled="loginForm.userEmail.$invalid || loginForm.userPassword.$invalid">Submit</button>
    </form>
</div>
